go 1.24

use (
	.
	./contrib/health-chi
	./contrib/health-dns
	./contrib/health-echo
	./contrib/health-fiber
	./contrib/health-gin
	./contrib/health-httpprobe
	./contrib/health-nats
	./contrib/health-nethttp
	./contrib/health-otel
	./contrib/health-postgres
	./contrib/health-prom
	./contrib/health-redis
)
